.bounce-in {
    animation: bounceIn;
    animation-duration: .5s;
}



.fade-up {
    animation: fadeup ease-in-out;
    animation-duration: .5s;
}

@keyframes bounceIn {
    0% {
        transform: scale(0);
        transform-origin: center;
    }
    50%{
        transform: scale(1.1);
        transform-origin: center;

    }
    100% {
        transform: scale(1);
        transform-origin: center;
    }
}



@keyframes fadeup {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

