.sign-in-container {
    background-color: #00A8E8;
    width: 100dvw;
    height: 100dvh;
}
.branch-selector,
.sign-in {
    margin-top: 20dvh;

    span {
        color: gray;
        font-weight: bold;
    }

    .sign-in-header {
        display: grid;
        place-items: center;
        padding-top: 10px;
    }
}

.user-data,
.franchises {
    box-shadow: 0 2px 10px 0px lightgray;

}

.user-data {
    p {
        color: gray;
        margin: 0;
        margin-bottom: 5px;
        font-weight: 500;
    }

}

.franchises {
    margin-top: 20px;

    span {
        font-weight: bold;
        color: gray;
    }

    button {
        margin-left: auto;
    }
}

.branch-list {
    padding-block: 20px;
}

.branch-item {

    input {
        width: 100%;
    }

    .ant-select {
        width: 100%;
        color: gray;


    }



    .ant-picker-range {
        width: 100%;
    }
}

.ant-select-item-option-content {
    color: gray;
}