.order-list,
.order-detail {
    box-shadow: 0 2px 10px 0px lightgray;
}

.order-list {
    overflow: auto;
    max-height: 450px;

    .ant-card-body {
        padding: 0 !important;
    }
}

.order-item {
    span {
        color: gray;
        font-weight: bold;
    }

    p {
        color: gray;
        margin: 0;
    }

    border-bottom: 1px solid lightgray;
    padding: 15px 10px;
}

.order-detail {
    li,
    p {
        color: gray;
        margin: 0;
    }
}

.detail {
    max-height: 280px;
    overflow: auto;
    margin-block: 20px;
    border-bottom: 1px solid lightgray;
}