.menu {
    .page-header {
        button {
            font-size: 1.2rem;
            padding: 20px 15px 20px 15px;
        }
    }
}


.catalog {
    span {
        color: gray;
        font-weight: 500;
    }

    button>span {
        color: white !important;
    }

    .btn-dropdown>span {
        color: gray !important;
    }

}