.menu {
    .page-header {
        button {
            font-size: 1.2rem;
            padding: 20px 15px 20px 15px;
        }
    }
}


.catalog {
    span {
        color: gray;
        font-weight: 500;
        font-size: 1.2rem;
    }

    button {
        padding: 10px !important;
        height: 42px;
        width: 42px !important;

        svg {

            font-size: 1.5rem;
        }
    }

    button>span {
        color: white !important;
    }
}

.product {
    span {
        color: gray;
        font-weight: 500;
        font-size: 1rem;
    }
}