.catalogs {
    height: 95%;
    display: flex;
    flex-wrap: wrap;
}

.catalog-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
        justify-content: start;
    }
}

.product-list{
    flex: 1;
    overflow: auto;
    max-height: 500px;
}

.product{
    padding: 0 1rem 1rem 1rem;

    p{
        color: gray;
        font-weight: bold;
        margin-right: auto;
    }

    div>p{
        font-weight: 300;
    }
}