.catalogs {
    height: 95%;
    display: flex;
    flex-wrap: wrap;
}

.catalog-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
        justify-content: start;
    }
}

.product-list {
    flex: 1;
    overflow: auto;
    max-height: 500px;
}

.product {
    padding: 0 1rem 1rem 1rem;

    p {
        color: gray;
        font-weight: bold;
        margin-right: auto;
    }

    div>p {
        font-weight: 300;
    }
}

.info-categories {
    box-shadow: 0 2px 10px 0px lightgray;

    span {
        font-weight: 600;
    }
}

.info-products {
    a {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}